<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>455608511115-7qr2hi76jn9secvh7c8t85astb02vf1k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.455608511115-7qr2hi76jn9secvh7c8t85astb02vf1k</string>
	<key>API_KEY</key>
	<string>AIzaSyDV1UZUh7q4jBj8H6C-PdDFaB0qltlUnn8</string>
	<key>GCM_SENDER_ID</key>
	<string>455608511115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.mate</string>
	<key>PROJECT_ID</key>
	<string>mates-79e59</string>
	<key>STORAGE_BUCKET</key>
	<string>mates-79e59.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:455608511115:ios:92e1d41212671a9fb2828e</string>
</dict>
</plist>